{% extends 'layouts/app.html' %}

{% load static %}

{% block title%} Dashboard {% endblock %}

{% block breadcrumb %}
Dashboard
{% endblock breadcrumb %}

{% block content%}


<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
       
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3 col-6 mb-4">
                    <div class="card" >
                        <div class="card-body ">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0" style="color: #007BFF">
                                    <i class="bx bx-male fs-1" ></i>
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1">Total Members</span>
                            <h3 class="card-title mb-2">{{total_members}}</h3>
                           
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3 col-6 mb-4">
                    <div class="card" >
                        <div class="card-body ">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0" style="color: #6F42C1">
                                    <i class="bx bx-category fs-1"></i>
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1">Total Categories</span>
                            <h3 class="card-title mb-2">{{total_categories}}</h3>
                           
                        </div>
                    </div>
                </div>
              
               
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3 col-6 mb-4">
                    <div class="card">
                        <div class="card-body ">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0"  style="color: #FFC107">
                                    <i class='bx bx-checkbox-minus fs-1'></i>
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1">Today Not Takens</span>
                            <h3 class="card-title mb-2">{{not_takens}}</h3>
                           
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3 col-6 mb-4">
                    <div class="card">
                        <div class="card-body ">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0"  style="color: #28A745">
                                    <i class="bx bx-check-circle fs-1"></i>
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1">Today Presents</span>
                            <h3 class="card-title mb-2">{{total_presents}}</h3>
                           
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-6 mb-4">
                    <div class="card" >
                        <div class="card-body ">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0" style="color: #DC3545">
                                    <i class="bx bx-x-circle fs-1"></i>
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1">Today Absents</span>
                            <h3 class="card-title mb-2">{{total_absents}}</h3>
                           
                        </div>
                    </div>
                </div>
              
               
            </div>
        </div>
    </div>
   
</div>


{% endblock %}